
body {
background-color:  #c8d7f1 ;}


.header
{
background-color:  #d6e5fe;
padding: 15px 32px;
}

.navbar
{
background-color:  #c8d7f1;
padding: 15px 40px;
}



h1 {color: #f54927}
h6 {color: #6d4b9e}

label, textarea {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

p,img{
	margin:0in;
	margin-bottom:.0001pt;
	padding-top:0;
	font-size:14.0pt;
	font-family:"Times New Roman","serif";
	font-weight:normal;
}

pre{
	margin:0in;
	margin-bottom:.0001pt;
	padding-top:0;
	font-size:14.0pt;
	font-family:"Times New Roman","serif";
}
