<html>
<br>
<a href="/"> Home </a><br>

<form action ="/add">
    {% if editing == "false" %}
      <input type="text" name = "title" value = "Blog Title"> {{titleerror}}
    {% else %}
      <input type = "hidden" name = "entry_id" value = {{entry_id}}>
      {{title}}
      <input type="hidden" name="title" value={{title}}>
      <input type="hidden" name="blog_id" value={{blog_id}}>
    {% endif %}
    <br>
    {% if entry_id != -1%}
    <textarea name = "body" rows = "10" cols = "60">{{txt}}</textarea> {{bodyerror}}
    {%else%}
    <textarea name = "body" rows = "10" cols = "60">body</textarea> {{bodyerror}}
    {% endif %}
    <br>
    <input type = "submit" name = "sub1">
</form>

<a href="/logout"> Log Out </a>
</html>
