<html>
<div class="navbar">

</div class="navbar">
  {% if logged_in == "false" %}
    <a href = "/login.html"> Log In </a>
  {% else %}
    <a href = "/access"> Profile Page</a>
  {% endif %}

  <form action = "/viewuser" method="GET">
    Search for Username: <input type="TEXT" name="username"> {{user_error}}<br>
    <input type = "SUBMIT">
  </form>
  <form action = "/viewblog" method = "GET">
    Search for Blog Title: <input type = "TEXT" name = "blog_title"> {{blog_error}} <br>
    <input type = "SUBMIT">
  </form>

  <a href="/logout"> Log Out </a>
</html>
