<html>
<div class="navbar">

</div class="navbar">

  {% if logged_in == "false" %}
    <a href = "/login.html"> Log In </a>
  {% else %}
    <a href = "/viewuser"> Profile </a>
  {% endif %}

  <form action = "/viewuser" method="GET">
    Username: <input type="TEXT" name="username"> {{user_error}}<br>
    <input type = "SUBMIT">
  </form>

  <form action ="/search" method = "POST">
  Search for users: <input type="TEXT" name="searchQuery"> <br>
  <input type="SUBMIT"> <br>
  </form>

  <a href="/logout"> Log Out </a>
</html>
