<html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<div class="navbar">
  <a href='/'>Home</a>
  <a href = "/access" style = "margin-right:3vw; margin-left:3vw"> Profile Page</a>
  <a href="/logout">Log Out</a>
</div class="navbar">

<br><br>
<div class = "content">
<h1> {{username}} </h1>
<br>
<h3> Blog Count : {{numblogs}} </h3>
<br>
Blogs:<br>
{{txt | safe}}
<br>

{% if owner == "true" %}
  <a href="/edit?editing=false&title=none"> Create Blog </a>
{% endif %}
</div class = "content">
</html>
